<div class="modal-body">
    <panel-header title="select a bag type" class="success"></panel-header>

    <div class="row">
        <div class="col-sm-12">
            <div class="bag-selector">
                <div class="single-bag" ng-click="selectBag($index)" ng-repeat="slide in slides">
                    <img ng-src="{{slide.image}}">
                    <h4>{{slide.name}} - <span class="label label-success">{{slide.quantity}} Units</span> </h4>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="alert alert-info">
        <p>Click on an image to select a bag!</p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="cancel()">CLOSE</button>
</div>