<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">PAYMENT INVOICE </div>
                </div>
                <div class="panel-body">
                    <form method="POST" id="upay_form" name="upay_form" action="https://cipg.accessbankplc.com/MerchantServices/MakePayment.aspx" target="_top">
                        <table class="table table-bordered table-striped">
                            <tr class="space">
                                <td style="width: 25%"></td>
                                <td style="width: 25%"></td>
                                <td style="width: 25%"></td>
                                <td style="width: 25%"></td>
                            </tr>
                            <tr>
                                <th colspan="4" class="text-uppercase text-center"><h4>{{getName(data)}}</h4></td>
                            </tr>
                            <tr>
                                <th colspan="2"><i class="fa fa-bullhorn"></i> {{ data.yearCalled }} - Year of CALL </th>
                                <td colspan="2"><i class="fa fa-building"></i> {{data.branch}} BRANCH </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-phone-square"></i> {{data.phone}}</td>
                                <td><i class="fa fa-mobile-phone"></i> {{data.mobile}}</td>
                                <td colspan="2"><i class="fa fa-envelope-o"></i> {{data.email}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <i class="fa fa-map-marker"></i> {{data.company}}
                                </td>
                                <td colspan="2">
                                    <i class="fa fa-map-marker"></i> {{data.address}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <i class="fa fa-user"></i> {{data.emergencyContact}}
                                </td>
                                <td colspan="2">
                                    <i class="fa fa-phone"></i> {{data.emergencyPhone}}
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2" class="text-right">
                                    <h4>Order ID:</h4>
                                </th>
                                <th colspan="2">
                                    <h4>{{data.regCode}}/{{data.conferenceFee}}</h4>
                                </th>
                            </tr>
                            <tr>
                                <th colspan="2" class="text-right">
                                    <h4>Conference Fees:</h4>
                                </th>
                                <th colspan="2">
                                    <h4>NGN {{ data.conferenceFee }}</h4>
                                </th>
                            </tr>
                            <tr>
                                <th colspan="2" class="text-right">Processing Fees:</th>
                                <th colspan="2"><strong>(at most) NGN {{ getFee(data.conferenceFee) }}</strong>
                                </th>
                            </tr>
                            <tr class="hidden-print">
                                <td colspan="4" class="text-center">
                                    <button type="button" class="btn btn-danger pull-left" ng-click="back()"><i
                                            class="fa fa-arrow-left"></i> GO BACK</button>
                                    <button ng-hide="data.completed" ng-click="markComplete(data)" class="btn btn-success"
                                            type="submit"><i
                                            class="fa fa-play"></i> PROCEED TO PAYMENT </button>
                                </td>
                            </tr>
                        </table>
                        <input type="hidden" name="mercId" value="09948">
                        <input type="hidden" name="currCode" value="566">
                        <input type="hidden" name="amt" value="{{ data.conferenceFee }}">
                        <input type="hidden" name="orderId" value="{{data.regCode}}/{{data.conferenceFee}}">
                        <input type="hidden" name="prod" value="NBA AGC 2015 Registration for {{getName()}}">
                        <input type="hidden" name="email" value="{{data.email}}">
                        <input type="hidden" name="submit" value="Pay">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>