<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">ATTENDEE DATA - SANs, ATTORNEY GENERALS AND LIFE BENCHERS

                        <button class="btn btn-danger pull-right text-white btn-xs" ng-click="doReset()">CANCEL
                            REGISTRATION</button>
                    </div>
                </div>
                <div class="panel-body">
                    <form method="post" name="dataForm">

                        <div class="alert alert-info">Fields marked <span class="required">*</span> are required! </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="prefix">Prefix <span class="required">*</span></label>
                                <select name="prefix" id="prefix" ng-model="data.prefix"
                                        class="form-control"
                                        required autofocus>
                                    <option>Dr.</option>
                                    <option>Prof.</option>
                                    <option>Mr.</option>
                                    <option>Mrs.</option>
                                    <option>Ms.</option>
                                    <option>Chief</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="surname">Surname <span class="required">*</span></label>
                                    <input class="form-control" type="text" name="surname" id="surname" ng-model="data.surname"
                                           valuse="A Surname" required>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="middleName">Middle Name</label>
                                    <input class="form-control" type="text" name="middleName" id="middleName" ng-model="data.middleName"
                                           value="A Middle Name">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="firstName">First Name <span class="required">*</span></label>
                                    <input class="form-control" type="text" name="firstName" id="firstName" ng-model="data.firstName"
                                           value="A First Name" required>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="suffix">Suffix</label>
                                <select name="suffix" id="suffix" ng-model="data.suffix" class="form-control">
                                    <option>SAN</option>
                                    <option>ESQ</option>
                                    <option>MNI</option>
                                    <option>MON</option>
                                    <option>CON</option>
                                    <option>GCON</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="yearCalled">Year of Call to Bar <span class="required">*</span></label>
                                    <select class="form-control" name="yearCalled" ng-model="data.yearCalled" id="yearCalled"
                                            required>
                                        <option ng-repeat="y in years">{{y}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="branch">NBA Branch <span class="required">*</span> </label>
                                    <input class="form-control" name="branch" id="branch" ng-model="data.branch" required>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Conference Fee</label>
                                    <div class="form-price label label-primary">NGN 100,000</div>
                                </div>
                            </div>
                        </div>


                        <div ng-hide="nextForm">
                            <button class="btn-block btn btn-primary" ng-click="startReg()"
                                    ng-disabled="dataForm.$invalid">
                                <i class="fa fa-play"></i> Next
                            </button>
                        </div>
                    </form>

                    <form method="post" name="dataForm2" ng-show="nextForm">
                        <div class="form-group">
                            <label for="company">Firm / Organization / Court  <span class="required">*</span> </label>
                            <input class="form-control" type="text" name="company" id="company"
                                   ng-model="data.company" placeholder="Firm / Organization / Court" required>
                        </div>

                        <div class="form-group">
                            <label for="address">Address <span class="required">*</span> </label>
                            <input type="text" class="form-control" name="address" id="address"
                                   ng-model="data.address" placeholder="Address" required>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phone">Office Telephone Number <span class="required">*</span> </label>
                                    <input class="form-control" type="tel" name="phone" id="phone" ng-model="data.phone"
                                           placeholder="Office Phone Number" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="mobile">Mobile Phone Number</label>
                                    <input class="form-control" type="tel" name="mobile" id="mobile" ng-model="data.mobile"
                                           placeholder="Mobile Phone Number">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email">Email Address <span class="required">*</span> </label>
                            <input type="email" class="form-control" name="email" id="email"
                                   ng-model="data.email" placeholder="Email Address" required>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="emergency">Emergency Contact Name</label>
                                    <input class="form-control" type="text" name="e_name" id="emergency"
                                           ng-model="data.emergencyContact"
                                           placeholder="Emergency Contact Name" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="e_phone">Emergency Contact Number</label>
                                    <input class="form-control" type="tel" name="e_phone" id="e_phone"
                                           ng-model="data.emergencyPhone"
                                           placeholder="Emergency Contact Number" >
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="text-center form-action">
                            <button type="button" ng-disabled="dataForm2.$invalid || dataForm.$invalid"
                                    class="btn btn-lg btn-block btn-success"
                                    ng-click="reviewForm()"> <i
                                    class="fa fa-play"></i>
                                Next <i class="fa fa-check"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div ng-include="'components/rightInfo/rightInfo.html'" class="col-sm-4"></div>
    </div>
</div>