.group-list {
    list-style: none;
    padding: 0;
}

.group-list li {
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    background: url('../../assets/images/group-bg.png')  repeat-x;
    cursor: pointer;
}

.group-list li a {
    color: #000;
    font-weight: bold;
    display: block;
}

.group-list li a:hover {
    text-decoration: none;
}