<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
            <panel-header title="PLEASE SELECT YOUR CATEGORY" class="success" ng-if="!expired()"></panel-header>
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="group-list" ng-if="!expired()">
                        <li>
                            <a ui-sref="legalPractitioner">LEGAL PRACTITIONERS</a>
                        </li>
                        <li>
                            <a ui-sref="sanAndBench">SANs, HONOURABLE AGS &amp; BENCHERS</a>
                        </li>
                        <li>
                            <a ui-sref="magistrate">MAGISTRATES &amp; OTHER JUDICIAL OFFICERS</a>
                        </li>
                        <li>
                            <a ui-sref="judge">HONOURABLE JUSTICES, JUDGES, GRAND KHADIS &amp; KHADIS</a>
                        </li>
                        <li>
                            <a ui-sref="others">GOVERNORS, LEGISLATORS &amp; POLITICAL APPOINTEES</a>
                        </li>
                        <li>
                            <a ui-sref="non_lawyer">NON-LAWYERS</a>
                        </li>
                        <li ng-hide="isGroup()">
                            <a ui-sref="international">INTERNATIONAL ATTENDEES</a>
                        </li>
                    </ul>
                    <div class="alert alert-danger text-center text-uppercase" ng-if="expired()">
                        <h3>Online Registration for the NBA Annual General Conference - ABUJA 2015 - has Closed!</h3>
                        <h2>ONLY ON-SITE REGISTRATION IS AVAILABLE NOW</h2>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="col-md-5" ng-include="'components/rightInfo/rightInfo.html'"></div>-->
    </div>
</div>