#group-list {
    list-style: none;
    padding: 0;
}

#group-list li {
    padding: 10px;
    background: url("../../assets/images/group-bg.png") repeat-x;
    margin: 20px 0;
    border-radius: 5px;
    cursor: pointer;
}

#group-list li a {
    color: #008000;
    font-weight: bold;
    font-size: large;
}

#group-list li a:hover {
    text-decoration: none;
}