
<div class="panel panel-success" ng-controller="RightInfoCtrl">
    <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" data-placement="top"
           title="Click To View More Details">
            <div data-toggle="collapse" class="panel-title text-center"><strong>INFORMATION</strong></div>
        </a>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
    <div class="panel-body">
        <p class="alert alert-info">Please note that the closing date for Pre-Conference (Regular Price) registration is
            <b>9th of August 2016.</b></p>

        <!--<p>Conferees who register after the 21st of August, 2016 will be required to pay the corresponding
            On-site Fee and submit their forms and payment teller on-site at the registration centre in Port Harcourt.
            After the 7th of August, no forms should be submitted or will be received by the NBA Secretariat
            or Branch Offices.</p>

        <p>For further details and enquiries please call any of the following: <strong>Chinelo Agbala</strong> 08067200353; <strong>Oti Edah</strong>, 08065901348; <strong>Kemi Beatrice Odeniyi</strong> 08068619570;</p>

        <p class="text-danger">We regret to inform that there will be no refund for cancellations.</p>

        <p class="text-primary">By submitting this form you accept the terms and conditions of this
            registration.</p>-->
        <ol>
            <li>From the <b>Home Page</b> click <b>Start Registration</b> </li>
            <li>Select your <b>Category</b></li>
            <li>Fill Registration Form following the 'On-Screen' instructions</li>
            <li>Select your preferred Payment Option (registration payment MUST be completed within 48 hours from filling the form or your application will be disregarded)
                <ul>
                    <li><strong>Pay Online</strong> – Payment will be processed immediately</li>
                    <li><strong>Pay To the Bank</strong> – Payment will be processed subject to confirmation from the
                        issuing
                        bank </li>
                </ul>
            </li>
            <li>Upon successful payment a verification code via email/sms will be sent to you within 48 hours </li>
            <li>A Personal Login Information will be issued you, from which you can preview activities regarding the Conference and also print your Payment Receipt and Participation Slip </li>
            <li>
                Online registration using the <b>Pay Online option Ends By 16th of August 2016</b>
                <b>Pay To The bank option closes on 17th of August 2016 </b>
            </li>
            <li>Prepare for your trip to Port Harcourt</li>
        </ol>
    </div>
    </div>
</div>