
<div class="panel panel-success" ng-controller="RightInfoCtrl">
    <div class="panel-heading">
        <div class="panel-title">INFORMATION</div>
    </div>
    <div class="panel-body">
        <p class="alert alert-info">Please note that the rate for the pre-conference manual registration closes on the
            21st
            of August 2015 while all pre-conference manual registration will end on the 7th of August
            2015.</p>

        <!--<p>Conferees who register after the 21st of August, 2015 will be required to pay the corresponding
            Onsite Fee and submit their forms and payment teller onsite at the registration centre in Abuja.
            After the 7th of August, no forms should be submitted or will be received by the NBA Secretariat
            or Branch Offices.</p>

        <p>For further details and enquiries please call any of the following: <strong>Chinelo Agbala</strong> 08067200353; <strong>Oti Edah</strong>, 08065901348; <strong>Kemi Beatrice Odeniyi</strong> 08068619570;</p>

        <p class="text-danger">We regret to inform that there will be no refund for cancellations.</p>

        <p class="text-primary">By submitting this form you accept the terms and conditions of this
            registration.</p>-->
        <ol>
            <li>From the ‘Home Page’ click ‘Register’ </li>
            <li>Select your ‘Category’ </li>
            <li>Enter your name as it appears on your ‘Call to Bar’ certificate and click ‘Apply’ </li>
            <li>Select your correct detail from the ‘Search Result’ that appears </li>
            <li>Fill out the ‘Registration Form’ that follows appropriately </li>
            <li>Select your preferred ‘Payment Option’ (registration payment MUST be completed within 72 hours from filling the form or your application will be disregarded)
                <ul>
                    <li><strong>Pay Online</strong> – Payment will be processed immediately</li>
                    <li><strong>Pay To the Bank</strong> – Payment will be processed subject to confirmation from the
                        issuing
                        bank </li>
                </ul>
            </li>
            <li>Upon successful payment a verification code via email/sms will be sent to you within 48 hours </li>
            <li>A ‘Personal Login Information’ will be issued you, from which you can preview activities regarding the Conference and also print your ‘Payment Receipt’ and ‘Participation Slip’ </li>
            <li>Online registration for <strong>‘Pay On-hold’</strong> option <b>closes on 13 August 2015;</b> Online registration for ‘Pay Online’ closes on 20 August 2015. </li>
            <li>Prepare for your trip to ‘Abuja’ </li>
        </ol>
    </div>
</div>