<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" ng-controller="LiveFeedCtrl">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3" ng-repeat="value in feeds track by $index">
            <div class="forum-header">
                <a href="" ng-click="getSingle(value._id)">{{value.tweet}}</a>
            </div>
            <div class="container-fluid top-space" style="border-top:1px solid #eee;">
                <div class="row">
                    <span class="col-xs-6 col-sm-6 col-md-6">{{value.star}} <i style="color: #2e9bff;" class=" fa fa-thumbs-up" aria-hidden="true"></i>
                        <label class="text-bold" ng-click="rateFeeds(value._id,$index)">
                               Like
                        </label>
                    </span>
                    <span class="col-xs-6 col-sm-6 col-md-6"><a ng-click="getSingle(value._id)"><i class="fa fa-comments" aria-hidden="true"></i></a></span>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>