<div class="container" ng-controller="PostLiveFeedCtrl">
    <br>
    <div class="row">
        <center class="text-center h2">Post a Live Feed</center>
        <br>

        <div class="well col-xs-12 col-md-offset-1 col-md-10 col-md-12">
            <div>

                <form ng-submit="createPost(new_post)" name="postForm">

                    <div class="form-group">
                        <label for="session">Session <span class="required">*</span> </label>
                        <div class="input-group">
                            <select ng-options="session._id as session.title for session in allSessions track by session._id"
                                    name="session" id="session" class="form-control" ng-model="new_post._session"
                                    ng-required="true"/>
                            <span class="input-group-addon"><i class="fa fa-slack"></i>
                                </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="session">Session <span class="required">*</span> </label>
                        <div class="input-group">
                            <select ng-options="session._id as session.title for session in allSessions track by session._id"
                                    name="session" id="session" class="form-control" ng-model="new_post._session"
                                    ng-required="true"/>
                            <span class="input-group-addon"><i class="fa fa-slack"></i>
                                </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="person">Speaker <span class="required">*</span> </label>
                        <div class="input-group">
                            <select ng-options="speaker._id as speaker.name for speaker in allSpeakers track by speaker._id"
                                    name="person" id="person" class="form-control" ng-model="new_post._speaker"
                                    ng-required="true"/>
                            <span class="input-group-addon"><i class="fa fa-user"></i>
                                </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="person">Speaker <span class="required">*</span> </label>
                        <div class="input-group">
                            <select ng-options="speaker._id as speaker.name for speaker in allSpeakers track by speaker._id"
                                    name="person" id="person" class="form-control" ng-model="new_post._speaker"
                                    ng-required="true"/>
                            <span class="input-group-addon"><i class="fa fa-user"></i>
                                </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="tweet">Tweet <span class="required">*</span> </label>
                        <div class="input-group">
                            <textarea placeholder="tweet" maxlength="360" minlength="3" name="tweet" id="tweet"
                                      class="form-control" ng-model="new_post.tweet" ng-required="true"></textarea>
                            <span class="input-group-addon"><i class="fa fa-twitter"></i>
                                </span>
                        </div>
                    </div>

                    <button class="btn btn-block btn-success" type="submit">
                        <i class="fa fa-feed"></i> NEW POST
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>