.speaker-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: -60px auto 20px;
    border: 3px solid #CCC;
    background: #fcfcfc;
}

.speaker-panel {
    margin-bottom: 10px;
    margin-top: 40px;
}

.speaker-panel .panel {
    cursor: pointer;
}

.row .speaker-panel:nth-child(5) {
    clear: both;
}