<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title text-center"><b>PASSWORD RESET</b></div>
                </div>
                <div class="panel-body" id="theForm">
                    <div class="alert alert-info" ng-show="showForm && !info.length">Please Enter your new NBA AGC
                        Portal Password!</div>
                    <div class="alert alert-danger" ng-show="error.length">{{error}}</div>
                    <div class="alert alert-success" ng-show="info.length">{{info}}</div>

                    <form ng-submit="resetForm.$valid && resetPassword(resetForm)" name="resetForm" ng-show="showForm">
                        
                        <div class="form-group" ng-class="{ 'has-success' : resetForm.password.$valid && resetForm.password.$dirty, 'has-error' : resetForm.password.$invalid && resetForm.password.$dirty }">
			            <input class="form-control" type="password" name="password" ng-minlength="6"
			                   ng-model="password" placeholder="Password" required>

			            <div class="help-block" ng-if="resetForm.password.$dirty">
			              <div class="text-danger" ng-show="resetForm.password.$error.required">Password is required.</div>
			              <div class="text-danger" ng-show="resetForm.password.$error.minlength">Password must be at least 6 characters long.</div>
			            </div>
			          </div>

			          <div class="form-group"
			               ng-class="{ 'has-success' : resetForm.confirmPassword.$valid && resetForm.confirmPassword.$dirty, 'has-error' : resetForm.confirmPassword.$invalid && resetForm.confirmPassword.$dirty }">
			            <input class="form-control" type="password"
			                   name="confirmPassword" ng-model="confirmPassword"
			                   repeat-password="password" placeholder="Confirm Password"
			                   required>

			            <div class="help-block text-danger"
			                 ng-if="resetForm.confirmPassword.$dirty ">
			              <div class="text-danger" ng-show="resetForm.confirmPassword.$error.required">You must confirm password.</div>
			              <div class="text-danger" ng-show="resetForm.confirmPassword.$error.repeat">Passwords do not match.</div>
			            </div>
			          </div>

                        <button class="btn btn-block btn-success" ng-disabled="resetForm.$invalid" type="submit"><i
                                class="fa fa-key"></i> RECOVER PASSWORD
                        </button>

                    </form>
                </div>
            </div>


            <br>
            <div class="alert alert-info">
            	<div class="row">
                	<div class="col-md-6 col-sm-12">
                    	<a ui-sref="login" class="btn-link pull-right"><i class="fa fa-arrow-left"></i> back to login</a> 
                    </div>
                    <div class="col-md-6 col-sm-12">
                    	<a ui-sref="recoverPassword" class="btn-link"><i class="fa fa-refresh"></i> request password reset</a>
                    </div>
                </div>	
            </div>
        </div>

    </div>
</div>