<div ng-controller="SidebarCtrl">
    <!--<div class="panel panel-default">
        <div class="panel-body no-padding">
            <div class="fb-page" data-href="https://www.facebook.com/lawpavilion" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/lawpavilion"><a href="https://www.facebook.com/lawpavilion">LawPavilion</a></blockquote></div></div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body no-padding">
            <a class="twitter-timeline" href="https://twitter.com/lawpavilion" data-widget-id="394777122629091328">Tweets by @lawpavilion</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>-->
</div>