<div ng-hide="isGroup()">

    <div class="row" ng-show="showPay">
        <div class="col-md-6 col-sm-12">

            <panel-header title="Your Registration has been CONFIRMED" class="success"></panel-header>

            <div class="panel panel-default no-border">
                <div class="panel-body no-padding">
                    <div ng-show="selectedReg.webpay">
                        <table class="table table-bordered table-striped table-condensed no-margin">
                            <tr>
                                <th>Transaction Reference</th>
                                <td>{{selectedReg.TransactionRef}}</td>
                            </tr>
                            <tr>
                                <th>Payment Reference</th>
                                <td>{{selectedReg.PaymentRef}}</td>
                            </tr>
                            <tr>
                                <th>Order ID</th>
                                <td>{{selectedReg.regCode+'-'+selectedReg.conferenceFee}}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>{{selectedReg.Status}}</td>
                            </tr>
                            <tr>
                                <th>Response Code</th>
                                <td>{{selectedReg.ResponseCode}}</td>
                            </tr>
                            <tr>
                                <th>Response Description</th>
                                <td>{{selectedReg.ResponseDescription}}</td>
                            </tr>
                            <tr>
                                <th>Transaction Date</th>
                                <td>{{selectedReg.DateTime}}</td>
                            </tr>
                            <tr>
                                <th>Conference Fee</th>
                                <td>{{selectedReg.international?'USD':'NGN'}} {{selectedReg.conferenceFee}}</td>
                            </tr>
                            <tr>
                                <th>Due at Switch</th>
                                <td>{{selectedReg.international?'USD':'NGN'}} {{selectedReg.Amount}}</td>
                            </tr>
                        </table>
                    </div>
                    <div ng-show="selectedReg.bankpay">
                        <table class="table table-bordered table-striped table-condensed no-margin">
                            <tr>
                                <th>Order ID</th>
                                <td>{{selectedReg.regCode+'-'+selectedReg.conferenceFee}}</td>
                            </tr>
                            <tr>
                                <th>Payment Date</th>
                                <td>{{selectedReg.bankDatePaid}}</td>
                            </tr>
                            <tr>
                                <th>Conference Fee</th>
                                <td>NGN {{selectedReg.conferenceFee}}</td>
                            </tr>
                            <tr>
                                <th>Amount Paid</th>
                                <td>NGN {{selectedReg.bankDeposit}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-sm-12">

            <panel-header title="Here's what your name tag looks like" class="success"></panel-header>

            <div class="panel panel-default">
                <div class="panel-body name-tag">
                    <h5 class="text-center" ng-bind="selectedReg.prefix" ng-hide="selectedReg.prefix.toLowerCase().indexOf('mr')>=0||selectedReg.prefix.toLowerCase().indexOf('mis')>=0"></h5>
                    <h3 class="text-center">{{selectedReg.firstName}} {{selectedReg.middleName}} {{selectedReg.surname}} <small ng-bind="selectedReg.suffix"></small></h3>
                    <hr>
                    <div ng-show="selectedReg.registrationType!='judge'&&selectedReg.registrationType!='magistrate'">
                        <p class="text-center"><strong>{{selectedReg.company}}</strong></p>
                    </div>
                    <div ng-show="selectedReg.registrationType=='judge'||selectedReg.registrationType=='magistrate'">
                        <p class="text-center"><strong>{{selectedReg.court}} {{selectedReg.state}} {{selectedReg.division}}</strong></p>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="col-md-6">
            <panel-header title="Choose your bag" class="info"></panel-header>

            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <img ng-src="{{imageUrl}}" width="50%" ng-show="imageUrl.length">
                    <div class="alert alert-danger" ng-hide="imageUrl.length">
                        <h5>You have not chosen a bag yet!</h5>
                    </div>
                    <carousel interval="3000" ng-hide="imageUrl.length">
                        <slide ng-repeat="slide in slides" active="slide.active">
                            <img ng-src="assets/images/option-{{$index+1}}.jpg" style="max-width:40%">
                            <div class="carousel-caption">
                                <h4>OPTION {{$index+1}} - <span class="label label-success">{{slide.quantity}} units available</span></h4>
                            </div>
                        </slide>
                    </carousel>
                    <br><br>
                    <button class="btn btn-block btn-large btn-success" ng-click="pickBag()">CLICK HERE TO PICK A
                        BAG</button>
                </div>
            </div>
        </div>-->
    </div>

    <div ng-hide="paidRegistrations.length">
        <h4 class="text-primary">Pending Registration(s)</h4><hr/>
        <div class="alert alert-info" ng-hide="pendingRegistrations.length"><h5>You do not have any pending registrations yet.</h5></div>
        <table class="table table-bordered table-striped table-hover" id="ui-table" ng-show="pendingRegistrations.length">
            <tr class="text-uppercase">
                <th class="text-center">S/N</th>
                <th>Name</th>
                <th class="text-center">Year of Call</th>
                <th class="text-center">Firm / Court / DESIGNATION</th>
                <th class="text-center">Conference Fee</th>
                <th class="text-center">Channel</th>
                <th />
            </tr>
            <tr ng-repeat="r in pendingRegistrations">
                <td class="text-center">{{$index+1}}.</td>
                <td>{{r.prefix}} {{r.firstName}} {{r.middleName}} {{r.surname}} <small class="text-muted">{{r.suffix}}</small></td>
                <td class="text-center">{{r.yearCalled}}</td>
                <td class="text-center">
                    <div ng-show="r.registrationType!='judge'&&r.registrationType!='magistrate'" class="text-center">
                        <strong>{{r.company}}</strong>
                    </div>
                    <div ng-show="r.registrationType=='judge'||r.registrationType=='magistrate'">
                        <strong>{{r.court}} {{r.state}} {{r.division}}</strong>
                    </div>
                    <div ng-show="r.designation.length">
                        <strong>{{r.designation}}</strong>
                    </div>
                </td>
                <td class="text-center">{{r.international?'USD':'NGN'}} {{r.conferenceFee.formatMoney(2)}}</td>
                <td class="text-center">{{r.bankpay?'Bank Payment':'Web Payment'}}</td>
                <td class="text-center" ng-show="!isGroup()">
                    <button ng-show="r.webpay" class="btn btn-xs btn-warning" ng-click="updateRecord(r._id, true)"><i class="fa fa-refresh"></i> Pay NOW</button>
                    <button class="btn btn-xs btn-success" ng-click="showBank(r)" ng-show="r.bankpay"><i class="fa fa-info-circle"></i> Show Invoice</button>
                </td>
            </tr>
        </table>

        <h4 class="text-danger">Failed Registration Payments</h4><hr/>
        <div class="alert alert-info" ng-hide="failedRegistrations.length"><h5>You do not have any failed registration payments.</h5></div>
        <table class="table table-bordered table-striped table-hover" id="ui-table" ng-show="failedRegistrations.length">
            <tr class="text-uppercase">
                <th class="text-center">S/N</th>
                <th>Name</th>
                <th class="text-center">Year of Call</th>
                <th class="text-center">Firm / Court / DESIGNATION</th>
                <th class="text-center">Conference Fee</th>
                <th class="text-center">Channel</th>
                <th />
            </tr>
            <tr ng-repeat="r in failedRegistrations">
                <td class="text-center">{{$index+1}}.</td>
                <td>{{r.prefix}} {{r.firstName}} {{r.middleName}} {{r.surname}} <small class="text-muted">{{r.suffix}}</small></td>
                <td class="text-center">{{r.yearCalled}}</td>
                <td class="text-center">
                    <div ng-show="r.registrationType!='judge'&&r.registrationType!='magistrate'" class="text-center">
                        <strong>{{r.company}}</strong>
                    </div>
                    <div ng-show="r.registrationType=='judge'||r.registrationType=='magistrate'">
                        <strong>{{r.court}} {{r.state}} {{r.division}}</strong>
                    </div>
                    <div ng-show="r.designation.length">
                        <strong>{{r.designation}}</strong>
                    </div>
                </td>
                <td class="text-center">{{r.international?'USD':'NGN'}} {{r.conferenceFee.formatMoney(2)}}</td>
                <td class="text-center">{{r.bankpay?'Bank Payment':'Web Payment'}}</td>
                <td class="text-center">
                    <button ng-hide="paidRegistrations.length" class="btn btn-block btn-xs btn-primary" ng-click="newReg(r)"><i class="fa fa-refresh"></i> Retry Payment</button>
                </td>
            </tr>
        </table>
    </div>

</div>