<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <div class="row">
          <div class="col-md-12">

              <div class="alert alert-{{status.type}}" ng-show="status.message.length">
                <button class="btn btn-danger btn-xs pull-right" ng-click="status.message=''"><i class="fa fa-times-circle"></i></button>
                {{status.message}}
              </div>

              <br>
              <div ng-hide="isGroup()">
                  <div ng-show="paidRegistrations.length">
                    <h4 class="text-success">Confirmed Registration</h4><hr/>
                    <table class="table table-bordered table-striped table-hover" id="ui-table" ng-show="paidRegistrations.length">
                  <tr class="text-uppercase">
                    <th class="text-center">S/N</th>
                    <th>Name</th>
                    <th class="text-center">Year of Call</th>
                    <th class="text-center">REGISTRATION CODE</th>
                    <!--<th class="text-center">Firm / Court / DESIGNATION</th>-->
                    <th class="text-center">Conference Fee</th>
                    <th class="text-center">Channel</th>
                    <!--<th />-->
                  </tr>
                  <tr ng-repeat="r in paidRegistrations">
                    <td class="text-center">{{$index+1}}.</td>
                    <td>{{r.prefix}} {{r.firstName}} {{r.middleName}} {{r.surname}} <small class="text-muted">{{r.suffix}}</small></td>
                    <td class="text-center">{{r.yearCalled}}</td>
                    <td class="text-center">{{r.regCode+'-'+r.conferenceFee}}</td>
                    <!--<td class="text-center">
                      <div ng-show="r.registrationType!='judge'&&r.registrationType!='magistrate'" class="text-center">
                        <strong>{{r.company}}</strong>
                      </div> 
                      <div ng-show="r.registrationType=='judge'||r.registrationType=='magistrate'">
                        <strong>{{r.court}} {{r.state}} {{r.division}}</strong>
                      </div>
                      <div ng-show="r.designation.length">
                        <strong>{{r.designation}}</strong>
                      </div>
                    </td>-->
                    <td class="text-center">NGN {{r.conferenceFee.formatMoney(2)}}</td>
                    <td class="text-center">{{r.webpay?'Web Payment':'Bank Payment'}}</td>
                    <!--<td class="text-center" ng-show="!isGroup()">
                      <button class="btn btn-xs btn-warning" ng-click="updateRecord(r._id)"><i class="fa fa-refresh"></i></button> <button class="btn btn-xs btn-success" ng-click="showPayStatus(r)"> Pay Status</button>
                    </td>-->
                  </tr>
                </table>

                    <br>
                  </div>
                <div class="row" ng-show="showPay">
                  <div class="col-md-6 col-sm-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <div class="panel-title text-success"><b>Your Registration has been CONFIRMED</b>
                        <button class="btn btn-xs btn-danger pull-right" ng-click="showPay=false"> <i class="fa fa-times"></i></button>
                        </div>
                      </div>
                      <div class="panel-body">
                        <div ng-show="selectedReg.webpay">
                          <table class="table table-bordered table-striped table-condensed">
                            <tr>
                              <th>Transaction Reference</th>
                              <td>{{selectedReg.TransactionRef}}</td>
                            </tr>
                            <tr>
                              <th>Payment Reference</th>
                              <td>{{selectedReg.PaymentRef}}</td>
                            </tr>
                            <tr>
                              <th>Order ID</th>
                              <td>{{selectedReg.regCode+'-'+selectedReg.conferenceFee}}</td>
                            </tr>
                            <tr>
                              <th>Status</th>
                              <td>{{selectedReg.Status}}</td>
                            </tr>
                            <tr>
                              <th>Response Code</th>
                              <td>{{selectedReg.ResponseCode}}</td>
                            </tr>
                            <tr>
                              <th>Response Description</th>
                              <td>{{selectedReg.ResponseDescription}}</td>
                            </tr>
                            <tr>
                              <th>Transaction Date</th>
                              <td>{{selectedReg.DateTime}}</td>
                            </tr>
                            <tr>
                              <th>Conference Fee</th>
                              <td>NGN {{selectedReg.conferenceFee}}</td>
                            </tr>
                            <tr>
                              <th>Due at Switch</th>
                              <td>NGN {{selectedReg.Amount}}</td>
                            </tr>
                          </table>
                        </div>
                        <div ng-show="selectedReg.bankpay">
                          <table class="table table-bordered table-striped table-condensed">
                            <tr>
                              <th>Order ID</th>
                              <td>{{selectedReg.regCode+'-'+selectedReg.conferenceFee}}</td>
                            </tr>
                            <tr>
                              <th>Payment Date</th>
                              <td>{{selectedReg.bankDatePaid}}</td>
                            </tr>
                            <tr>
                              <th>Conference Fee</th>
                              <td>NGN {{selectedReg.conferenceFee}}</td>
                            </tr>
                            <tr>
                              <th>Amount Paid</th>
                              <td>NGN {{selectedReg.bankDeposit}}</td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <h4 class="text-center text-success">Below's what your name tag looks like</h4><br>
                    <div class="panel panel-default">
                      <div class="panel-body name-tag">
                        <h5 class="text-center" ng-bind="selectedReg.prefix" ng-hide="selectedReg.prefix.toLowerCase().indexOf('mr')>=0||selectedReg.prefix.toLowerCase().indexOf('mis')>=0"></h5>
                        <h3 class="text-center">{{selectedReg.firstName}} {{selectedReg.middleName}} {{selectedReg.surname}} <small ng-bind="selectedReg.suffix"></small></h3>
                        <hr>
                        <div ng-show="selectedReg.registrationType!='judge'&&selectedReg.registrationType!='magistrate'">
                            <p class="text-center"><strong>{{selectedReg.company}}</strong></p>
                        </div> 
                        <div ng-show="selectedReg.registrationType=='judge'||selectedReg.registrationType=='magistrate'">
                            <p class="text-center"><strong>{{selectedReg.court}} {{selectedReg.state}} {{selectedReg.division}}</strong></p>
                        </div> 
                      </div>
                    </div>
                  </div>
                </div>

                <div ng-hide="paidRegistrations.length">
                  <h4 class="text-primary">Pending Registration(s)</h4><hr/>
                  <div class="alert alert-info" ng-hide="pendingRegistrations.length"><h5>You do not have any pending registrations yet.</h5></div>
                  <table class="table table-bordered table-striped table-hover" id="ui-table" ng-show="pendingRegistrations.length">
                    <tr class="text-uppercase">
                      <th class="text-center">S/N</th>
                      <th>Name</th>
                      <th class="text-center">Year of Call</th>
                      <th class="text-center">Firm / Court / DESIGNATION</th>
                      <th class="text-center">Conference Fee</th>
                      <th class="text-center">Channel</th>
                      <th />
                    </tr>
                    <tr ng-repeat="r in pendingRegistrations">
                      <td class="text-center">{{$index+1}}.</td>
                      <td>{{r.prefix}} {{r.firstName}} {{r.middleName}} {{r.surname}} <small class="text-muted">{{r.suffix}}</small></td>
                      <td class="text-center">{{r.yearCalled}}</td>
                      <td class="text-center">
                        <div ng-show="r.registrationType!='judge'&&r.registrationType!='magistrate'" class="text-center">
                          <strong>{{r.company}}</strong>
                        </div> 
                        <div ng-show="r.registrationType=='judge'||r.registrationType=='magistrate'">
                          <strong>{{r.court}} {{r.state}} {{r.division}}</strong>
                        </div>
                        <div ng-show="r.designation.length">
                          <strong>{{r.designation}}</strong>
                        </div>
                      </td>
                      <td class="text-center">NGN {{r.conferenceFee.formatMoney(2)}}</td>
                      <td class="text-center">{{r.bankpay?'Bank Payment':'Web Payment'}}</td>
                      <td class="text-center" ng-show="!isGroup()">
                        <button ng-show="r.webpay" class="btn btn-xs btn-warning" ng-click="updateRecord(r._id, true)"><i class="fa fa-refresh"></i> Pay NOW</button>
                        <button class="btn btn-xs btn-success" ng-click="showBank(r)" ng-show="r.bankpay"><i class="fa fa-info-circle"></i> Show Invoice</button>
                      </td>
                    </tr>
                  </table>

                  <h4 class="text-danger">Failed Registration Payments</h4><hr/>
                  <div class="alert alert-info" ng-hide="failedRegistrations.length"><h5>You do not have any failed registration payments.</h5></div>
                  <table class="table table-bordered table-striped table-hover" id="ui-table" ng-show="failedRegistrations.length">
                    <tr class="text-uppercase">
                      <th class="text-center">S/N</th>
                      <th>Name</th>
                      <th class="text-center">Year of Call</th>
                      <th class="text-center">Firm / Court / DESIGNATION</th>
                      <th class="text-center">Conference Fee</th>
                      <th class="text-center">Channel</th>
                      <th />
                    </tr>
                    <tr ng-repeat="r in failedRegistrations">
                      <td class="text-center">{{$index+1}}.</td>
                      <td>{{r.prefix}} {{r.firstName}} {{r.middleName}} {{r.surname}} <small class="text-muted">{{r.suffix}}</small></td>
                      <td class="text-center">{{r.yearCalled}}</td>
                      <td class="text-center">
                        <div ng-show="r.registrationType!='judge'&&r.registrationType!='magistrate'" class="text-center">
                          <strong>{{r.company}}</strong>
                        </div> 
                        <div ng-show="r.registrationType=='judge'||r.registrationType=='magistrate'">
                          <strong>{{r.court}} {{r.state}} {{r.division}}</strong>
                        </div>
                        <div ng-show="r.designation.length">
                          <strong>{{r.designation}}</strong>
                        </div>
                      </td>
                      <td class="text-center">NGN {{r.conferenceFee.formatMoney(2)}}</td>
                      <td class="text-center">{{r.bankpay?'Bank Payment':'Web Payment'}}</td>
                      <td class="text-center">
                        <button ng-hide="paidRegistrations.length" class="btn btn-block btn-xs btn-primary" ng-click="newReg(r)"><i class="fa fa-refresh"></i> Retry Payment</button>
                      </td>
                    </tr>
                  </table>
                </div>

              </div>
              
              <div ng-show="isGroup()">

                  <div  ng-show="paidRegistrations.length">
                    <h4 class="text-success text-uppercase">Confirmed Registrations</h4><hr/>
                    <table class="table table-striped table-responsive table-bordered table-hover" ng-show="paidRegistrations.length">
                  <tr class="text-uppercase">
                    <th class="text-center">S/N</th>
                    <th>Name</th>
                    <th class="text-center">Year of Call</th>
                    <th class="text-center">NBA Branch</th>
                    <th class="text-center">Email Address</th>
                    <th class="text-center">Conference Fee</th>
                  </tr>
                  <tr ng-repeat="r in paidRegistrations">
                    <td class="text-center">{{$index+1}}.</td>
                    <td>{{r.prefix}} {{r.firstName}} {{r.middleName}} {{r.surname}} <small class="text-muted">{{r.suffix}}</small></td>
                    <td class="text-center">{{r.yearCalled}}</td>
                    <td class="text-center">{{r.branch}}</td>
                    <td class="text-center">{{r.email}}</td>
                    <td class="text-center">NGN {{r.conferenceFee.formatMoney(2)}}</td>
                  </tr>
                  <tr>
                    <td class="text-right" colspan="5" style="vertical-align: middle;"> </td>
                    <td class="text-center"><h4>NGN {{getGroupFee(paidRegistrations).formatMoney(2)}}</h4></td>
                  </tr>
                </table>

                  </div>

                <h4 ng-show='unpaidRegistrations.length' class="text-danger text-uppercase"> Registrations yet to be paid for</h4>
              	<table class="table table-bordered table-striped table-responsive table-hover" id="ui-table" ng-show="unpaidRegistrations.length">
              		<tr class="text-uppercase">
              			<th class="text-center">S/N</th>
                    <th />
              			<th>Name</th>
              			<th class="text-center">Year of Call</th>
              			<th class="text-center">Firm / Court / DESIGNATION</th>
              			<th class="text-center">Conference Fee</th>
              			<th class="text-center" ng-show="!isGroup()">Status</th>
              		</tr>
              		<tr ng-repeat="r in unpaidRegistrations">
              			<td class="text-center">{{$index+1}}.</td>
                    <td class="text-center">
                      <a class="btn btn-xs btn-warning" ui-sref="{{r.registrationType}}Update({registrationId: r._id})"><i class="fa fa-edit"></i> Edit</a>
                      <button class="btn btn-xs btn-danger" ng-click="cancelReg(r._id)"><i class="fa fa-times"></i> Delete </button> 
                    </td>
              			<td>{{r.prefix}} {{r.firstName}} {{r.middleName}} {{r.surname}} <small class="text-muted">{{r.suffix}}</small></td>
              			<td class="text-center">{{r.yearCalled}}</td>
              			<td class="text-center">
              			  <div ng-show="r.registrationType!='judge'&&r.registrationType!='magistrate'" class="text-center">
                        <strong>{{r.company}}</strong>
                      </div> 
                      <div ng-show="r.registrationType=='judge'||r.registrationType=='magistrate'">
                        <strong>{{r.court}} {{r.state}} {{r.division}}</strong>
                      </div>
                      <div ng-show="r.designation.length">
                        <strong>{{r.designation}}</strong>
                      </div>
              			</td>
              			<td class="text-center">NGN {{r.conferenceFee.formatMoney(2)}}</td>
              		</tr>
                  <tr>
                    <td class="text-center" colspan="2"><a ui-sref="registerAs" class="btn btn-block btn-success"><i class="fa fa-plus"></i> New Registration</a></td>
                    <td class="text-right" colspan="3" style="vertical-align: middle;">
                      <button class="btn btn-success" ng-click="writeInvoice(unpaidRegistrations)"><i class="fa fa-money"></i> GENERATE PAYMENT INVOICE</button>
                    </td>
                    <td class="text-center"><h4>NGN {{getGroupFee(unpaidRegistrations).formatMoney(2)}}</h4></td>
                  </tr>
              	</table>
                <hr> 
              </div>

                <div class="alert alert-info" ng-show="isGroup() && !unpaidRegistrations.length && !paidInvoices.length">
                  <h3 class="text-center">You do not have any Registration(s) yet! <a ui-sref="registerAs" class="btn btn-success btn-lg">Start Registering</a></h3>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>