<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">LEGAL PRACTITIONER DATA
                        <button class="btn btn-danger pull-right text-white btn-xs" ng-click="doReset()"><i
                                class="fa fa-times-circle"></i> CANCEL
                            REGISTRATION
                        </button>
                    </div>
                </div>
                <div class="panel-body">
                    <form method="post" name="dataForm">

                        <div class="alert alert-info">All fields marked <span class="required">*</span> are required!
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="prefix">Prefix <span class="required">*</span></label>
                                    <input type="text" name="prefix" id="prefix" ng-model="data.prefix"
                                           class="form-control" placeholder="Mr, Mrs, Chief, Dr, etc" required
                                           autofocus>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="surname">Surname <span class="required">*</span></label>
                                    <input ng-change="showmodal()" ng-model-options="{updateOn: 'blur'}"
                                           class="form-control" type="text" name="surname" id="surname"
                                           ng-model="data.surname"
                                           placeholder="Surname" required>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="middleName">Middle Name</label>
                                    <input class="form-control" type="text" name="middleName" id="middleName"
                                           ng-model="data.middleName"
                                           placeholder="Middle">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="firstName">First Name <span class="required">*</span></label>
                                    <input ng-change="showmodal()" ng-model-options="{updateOn: 'blur'}"
                                           class="form-control" type="text" name="firstName" id="firstName"
                                           ng-model="data.firstName"
                                           placeholder="First Name" required>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="suffix">Suffix</label>
                                    <input type="text" name="suffix" id="suffix" ng-model="data.suffix"
                                           class="form-control" placeholder="SAN, MNI, MON, CON, GCON, etc.">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ctb">Year of Call to Bar</label>
                                    <select class="form-control" name="ctb" id="ctb" ng-model="data.yearCalled"
                                            required>
                                        <option ng-repeat=" y in membersYears"
                                                value="{{y}}">{{y}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <!--<div class="col-md-5 col-md-offset-4">-->
                            <!--<div class="form-group">-->
                            <!--<label>Conference Fee</label>-->
                            <!--<div class="form-price label label-primary">NGN {{data.conferenceFee-->
                            <!--.formatMoney(2)}}</div>-->
                            <!--</div>-->
                            <!--</div>-->
                        </div>

                        <div class="form-group">
                            <label for="branch">NBA Branch <span class="required">*</span></label>
                            <select ng-options="branch as branch.name for branch in branchData | orderBy:'-name':'reverse'" class="form-control" ng-change="regCode()" ng-model="selectedItem" id="branch"
                                    ng-required="true">

                            </select>
                            <span class="help-block label label-danger"
                                  ng-show="dataForm.branch.$dirty && dataForm.branch.$error.required">Please enter your NBA Branch</span>
                        </div>

                        <div class="form-group">
                            <label for="company">Firm / Company / Organization <span class="required">*</span> </label>
                            <input class="form-control" type="text" name="company" id="company"
                                   ng-model="data.company" placeholder="Firm / Company / Organization" required>
                            <span class="help-block label label-danger"
                                  ng-show="dataForm.company.$dirty && dataForm.company.$error.required">Please enter your Firm / Company / Organization</span>
                        </div>

                        <div class="form-group">
                            <label for="address">Address </label>
                            <input type="text" class="form-control" name="address" id="address"
                                   ng-model="data.address" placeholder="Address">
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group btn-group">
                                    <label>Location For Conference Material Pick Up
                                        <span class="required">*</span>
                                    </label>
                                </div>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <label class="btn btn-primary" ng-model="data.material" btn-radio="'branch'">My
                                            NBA Branch</label>or
                                        <label class="btn btn-success" ng-model="data.material" btn-radio="'onsite'">Fast
                                            Track ( Individual )</label>
                                            <span class="help-block label label-danger"
                                                  ng-show="data.material.$dirty && (data.material.$error.required)">Please Select one Location
                            </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="mobile">Mobile Phone <span class="required">*</span>
                                        <small
                                                class="text-muted">eg: 08031231234
                                        </small>
                                    </label>
                                    <input class="form-control" type="tel" name="mobile" id="mobile"
                                           ng-model="data.mobile"
                                           placeholder="Mobile Phone Number" ng-number="true" ng-minlength="11"
                                           ng-maxlength="11"
                                           required>
                                    <span class="help-block label label-danger"
                                          ng-show="dataForm.mobile.$dirty && dataForm.mobile.$error.required">Valid phone number is required</span>
                                    <span class="help-block label label-danger"
                                          ng-show="((dataForm.mobile.$error.minlength || dataForm.mobile.$error.maxlength) && dataForm.mobile.$dirty) ">Mobile Phone Number should be 11 digits</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phone">Office Telephone Number </label>
                                    <input class="form-control" type="tel" name="phone" id="phone" ng-model="data.phone"
                                           placeholder="Office Phone Number">

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email">Email Address <span class="required">*</span> <em
                                    class="text-danger">Please provide a
                                valid email address.</em> </label>
                            <input type="email" class="form-control" name="email" id="email" ng-model="data.email"
                                   placeholder="Email Address" required>
                             <span class="help-block label label-danger"
                                   ng-show="dataForm.email.$dirty && (dataForm.email.$error.required || dataForm.email.$error.email)">Please provide a valid email address
                            </span>
                        </div>

                        <!--<div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="emergency">Emergency Contact Name</label>
                                    <input class="form-control" type="text" name="e_name" id="emergency"
                                           ng-model="data.emergencyContact"
                                           placeholder="Emergency Contact Name" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="e_phone">Emergency Contact Number</label>
                                    <input class="form-control" type="tel" name="e_phone" id="e_phone"
                                           ng-model="data.emergencyPhone"
                                           placeholder="Emergency Contact Number" >
                                </div>
                            </div>
                        </div>-->

                        <hr>

                        <div class="row">
                            <div class="col-sm-6 col-xs-6" ng-hide="editing">
                                <button class="btn btn-danger btn-block hidden-xs" type="button" ng-click="doReset()"><i
                                        class="fa fa-times"></i> CANCEL
                                    REGISTRATION
                                </button>
                                <button class="btn btn-danger btn-block visible-xs" type="button" ng-click="doReset()">
                                    <i
                                            class="fa fa-times"></i> CANCEL
                                </button>
                            </div>
                            <div class="col-sm-6 col-xs-6" ng-show="editing">
                                <a class="btn btn-warning btn-block" ui-sref="myRegistrations"><i
                                        class="fa fa-edit"></i> CANCEL
                                    EDIT</a>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <button type="submit"
                                        class="btn btn-block btn-success"
                                        ng-click="reviewForm(dataForm)"><i
                                        class="fa fa-play"></i>
                                    NEXT <i class="fa fa-check"></i>
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--<div ng-include="'components/rightInfo/rightInfo.html'" class="col-sm-4"></div>-->
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">ss
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Click on your name to Select your info</h4>
                </div>
                <div class="modal-body">
                    <div ng-show="memberss.length>=1" class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Call Number
                                </th>
                                <th>
                                    Year Called
                                </th>
                            </tr>
                            </thead>
                            <tr style="cursor:pointer" ng-click="member.data = users; setData()"
                                ng-repeat="users in memberss">
                                <td class="success">{{users.name}}</td>
                                <td class="warning">{{users.nbaId}}</td>
                                <td class="danger">{{users.yearCalled}}</td>
                            </tr>
                        </table>
                    </div>
                    <div ng-show="memberss.length===0" class="row">
                        <p class="text-center text-white help-block label-danger">
                            <strong>Name Not found! </strong>Unfortunately, we can't seem
                            to
                            find your
                            record on our
                            database, in order to auto-fill your Enrollment Number.
                            Please try to input your name correctly, Surname first, followed by FirstName. Otherwise, kindly fill the enrollment number column.
                        </p>
                        <form method="post" name="memberForm">
                            <div class="form-group col-md-5 col-md-offset-3">
                                <label for="name">FullName <span class="required">*</span> </label>
                                <input class="form-control" type="text" name="name" id="name"
                                       ng-model="newuser.name" placeholder="Name on Call To Bar Certificate."
                                       required>
                                <span class="help-block label label-danger"
                                      ng-show="memberForm.name.$dirty && memberForm.name.$error.required">Please Enter Your Full Name as it appeared on your Call To Bar Certificate.</span>
                            </div>

                            <div class="form-group col-md-5 col-md-offset-3">
                                <label for="year">Year of Call to Bar</label>
                                <select class="form-control" name="year" id="year" ng-model="newuser.yearCalled"
                                        required>
                                    <option ng-repeat=" y in membersYears"
                                            value="{{y}}">{{y}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-5 col-md-offset-3">
                                <label for="scn">Supreme Court Number </label>
                                <input class="form-control" type="text" name="scn" id="scn"
                                       ng-model="newuser.nbaId" placeholder="Please input your Supreme court number">
                                </div>
                            <div class="form-group col-md-5 col-md-offset-3">
                                <div class="col-sm-6 col-xs-6">
                                    <button type="submit"
                                            class="btn btn-block btn-danger" data-dismiss="modal"><i
                                            class="fa fa-play"></i>
                                        Cancel <i class="fa fa-check"></i>
                                    </button>
                                </div>

                                <div class="col-sm-6 col-xs-6">
                                    <button type="submit" ng-disabled="memberForm.$invalid"
                                            class="btn btn-block btn-success"
                                            ng-click="doSave(memberForm)"><i
                                            class="fa fa-play"></i>
                                        NEXT <i class="fa fa-check"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>
