<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">LEGAL PRACTITIONER</div>
                </div>
                <div class="panel-body">
                    <form method="post" name="dataForm" ng-hide="showForm2" ng-submit="dataForm.$valid && nextForm()">

                        <div class="alert alert-info">
                            <i class="glyphicon glyphicon-chevron-down"></i> Please Enter your name below
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="prefix">Prefix</label>
                                <select name="prefix" id="prefix" ng-model="person.prefix" class="form-control" required autofocus>
                                    <option>Dr.</option>
                                    <option>Prof.</option>
                                    <option>Mr.</option>
                                    <option>Mrs.</option>
                                    <option>Ms.</option>
                                    <option>Chief</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="surname">Surname</label>
                                    <input class="form-control" type="text" name="surname" id="surname" ng-model="person.surname"
                                           placeholder="Surname" required>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="middleName">Middle Name</label>
                                    <input class="form-control" type="text" name="middleName" id="middleName" ng-model="person.middleName"
                                           placeholder="Middle">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input class="form-control" type="text" name="firstName" id="firstName" ng-model="person.firstName"
                                           placeholder="First Name" required>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="suffix">Suffix</label>
                                <select name="suffix" id="suffix" ng-model="person.suffix" class="form-control">
                                    <option>ESQ</option>
                                </select>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" ng-disabled="dataForm.$invalid"
                                    class="btn btn-block btn-primary" ng-submit="dataForm.$valid && nextForm()"> <i
                                    class="fa fa-play"></i>
                                Next
                            </button>
                        </div>
                    </form>


                    <form method="post" name="dataForm2" ng-show="showForm2" ng-submit="dataForm2.$valid && doLookup()">

                        <div class="alert alert-info">
                            <i class="glyphicon glyphicon-chevron-down"></i> Enter the Name on your Call to Bar
                            Certificate
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="_surname">Surname</label>
                                    <input class="form-control" type="text" name="surname" id="_surname"
                                           ng-model="person.nb_surname"
                                           placeholder="Surname" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="middleName">Middle Name</label>
                                    <input class="form-control" type="text" name="middleName" id="_middleName"
                                           ng-model="person.nb_middleName"
                                           placeholder="Middle">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="_firstName">First Name</label>
                                    <input class="form-control" type="text" name="firstName" id="_firstName"
                                           ng-model="person.nb_firstName"
                                           placeholder="First Name" required>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit"  ng-disabled="dataForm2.$invalid"
                                    class="btn btn-block btn-success" ng-submit="dataForm2.$valid && doLookup()"> <i
                                    class="fa fa-play"></i>
                                Next
                            </button>
                        </div>
                    </form>

                    <hr>

                    <table class="table table-bordered table-striped table-hover" ng-show="showTable">
                        <tr>
                            <th>S/N</th>
                            <th>Surname</th>
                            <th>Middle Name</th>
                            <th>First Name</th>
                            <th>Called to Bar</th>
                            <th class="col-sm-1"></th>
                        </tr>
                        <tr ng-repeat="member in members">
                            <td>{{$index+1}}.</td>
                            <td>{{member.surname}}</td>
                            <td>{{member.middleName}}</td>
                            <td>{{member.firstName}}</td>
                            <td>{{member.yearCalled}}</td>
                            <td>
                                <button class="btn btn-xs btn-success" ng-click="details(member)"><i
                                    class="fa fa-check"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div ng-include="'components/rightInfo/rightInfo.html'" class="col-sm-4"></div>
    </div>
</div>