<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container session-container">
    <div class="row">
        <div class="col-md-9">
            <panel-header title="Conference Speakers, Panelists & Facilitators" class="success"></panel-header>

            <div class="row">
                <div class="col-md-3 speaker-panel" ng-repeat="speaker in speakers">
                    <div class="panel panel-success" ng-click="showSpeakerDetail(speaker._id, speaker.name)">
                        <div class="panel-body bg-success text-center">
                            <img src="{{speaker.photo_base64}}" class="speaker-avatar">
                            <h4>{{speaker.title+' '+speaker.name}} <small>{{speaker.suffix}}</small></h4>
                            <p class="text-ellipsis">{{speaker.bio}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-include="'components/sidebar/sidebar.html'" class="col-md-3"></div>
    </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>